<% recommended_books.each do |book| %>
  <div class="card">
    <div class="card--thumbnail">
      <%= image_tag book.cover.url(:square), class: "img-responsive center-block" %>
    </div>

    <div class="card-content">
      <h3>
        <%= link_to book.title, book_path(book) %>
      </h3>
      <p>
        <% if book.valoration %>
          Rating: <%= book.valoration.round(2) %>
        <% else %>
          No ratings yet.
        <% end %>
      </p>
      <p>
        <span class="label label-default"><%= book.genre.name %></span>
      </p>
    </div>
  </div>
<% end %>
