<div class="card">
  <h3 class="text-center">This users recommend this book</h3>
  <hr>
  <% if recommendations.any? %>
    <% recommendations.each_with_index do |recommendation, index| %>
      <div class="card--item">
        <div class="card--thumbnail">
          <%= image_tag recommendation.user.avatar.url(:square), class: "img-responsive center-block" %>
        </div>

        <div>
          <h3><%= link_to "#{recommendation.user.username}", user_path(recommendation.user) %> said:</h3>
          <p>
            <%= recommendation.comment %>
          </p>
          <p>
            Valoration: <%= recommendation.valoration %>
          </p>
        </div>
        <% if recommendations.size > index + 1 %>
          <hr>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="lead text-center">
      No recommendations on this book so far!
    </p>
  <% end %>
</div>
