.button {
  background-color: transparentize(white, 0.5);;
  width: 15rem;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid white;
  font-size: 1.5rem;
}

.button:hover {
  background-color: transparentize(white, 0.2);
  color: #295837;
  text-decoration: none;
}

.root-button-container {
  margin-top: 5rem;

}

$base_color: #295837;
$danger_color: #d34c4a;

.btn-primary {
  background-color: $base_color;
  transition: 0.5s all;
}

.btn-primary:hover {
  background-color: lighten($base_color, 5);
  text-decoration: none;
}

.btn-danger {
  background-color: $danger_color;
  transition: 0.5s all;
}

.btn-danger:hover {
  background-color: lighten($danger_color, 5);
  text-decoration: none;
}

.btn-submiting::before {
  content: '';
  position: relative;
  float: left;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: loading 0.8s linear infinite;
  transition: 0.5s all;
}

.btn-successful::before {
  content: '';
  position: relative;
  float: left;
  height: 1.5rem;
  width: 0.75rem;
  margin-right: 1rem;
  border: 1px solid white;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(405deg);
  transition: 0.5s all;
}

.btn-successful:disabled {
  background-color: $base_color;
  opacity: 0.7;
}

.btn-primary:focus {
  background-color: $base_color;
}

@keyframes loading {
  100%{
    transform: rotate(360deg);
  }
}

.float-right {
  float: right;
}
