.navbar-toggle .icon-bar {
    background-color: white;
}

.margin-top {
  margin-top: 4rem;
}
.app-content {
  margin-top: 10rem;
}
.navbar--custom {
  background-color: #295837;
  a {
    color: white;
  }
  a:hover {
    background-color: lighten(#295837, 20) !important;
  }
}
a {
  color: #295837;
}
