<div class="row margin-top">
  <div class="col-md-5 col-md-offset-1">
    <%= render "transfers/transfer_requests_list", transfer_requests: @transfer_requests %>
  </div>

  <div class="col-md-5">
    <%= render "notifications/notifications_list", notifications: @notifications %>
  </div>
</div>
