<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Results</h1>

    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.username, "/users/#{user.id}" %></li>
      <% end %>
    </ul>
  </div>
</div>
