<video src="https://s3.amazonaws.com/changebook.s3.amazonaws.com/bookwind.mp4" id="bgvid" autoplay loop width="80%">
    <p>This doesn't work on your browser!</p>
</video>

<div class="row">
  <div class="col-md-8 col-md-offset-2 white-text">
    <h1 class="home-title text-center">CHANGEBOOK</h1>
    <h2 class="text-center">Find the book you want.</h2>
    <h2 class="text-center">Give away those books you'll never touch again.</h2>
    <h2 class="text-center">Don't worry about what to read.</h2>
    <h2 class="text-center">We'll do it for you.</h2>
    <h2 class="text-center">Share.</h2>
  </div>
</div>
<div class="row">
  <div class="root-button-container">
    <%= link_to "Log in", new_user_session_path, class: "button center-block" %>
    <%= link_to "Sign up", new_user_registration_path, class: "button center-block" %>
  </div>
</div>
