<div class="card card--event row">
  <div class="card--thumbnail">
    <%= image_tag item.user.avatar.url(:square), class: "img-responsive center-block" %>
  </div>

  <div class="card-content">
    <p>
      <%= link_to "#{item.user.username}", user_path(item.user) %>
      offered
      <%= link_to "#{item.book.title}", book_path(item.book) %>
      <ul class="offering-conditions list-unstyled">
        <% if item.to_give_away %>
          <li>to give away</li>
        <% end %>
        <% if item.to_exchange %>
          <li>to exchange</li>
        <% end %>
      </ul>
    </p>
      <p><%= item.created_at.to_formatted_s(:short) %></p>
  </div>
</div>
