<div class="card card--books">
  <% if books.any? %>
    <% books.each_with_index do |book, index| %>
      <div class="card--books--item row">
        <div class="col-xs-8">
          <h3><%= book.title.titleize %></h3>
          <p>
            by <%= book.author.titleize %>
          </p>
        </div>
        <div class="col-xs-4">
          <% if current_user.owns?(book) %>
            <a href="" type="button" name="button" class="btn btn-primary">I want it!</a>
          <% else %>
            <%= form_for [book.user, book], method: :delete do |f| %>
              <%= f.submit value: "Delete", class: "btn btn-danger" %>
              <% end %>
            <% end %>
          <a type="button" name="button" class="btn btn-primary">Recommend!</a>
        </div>
      </div>
      <% if books.size > index + 1 %>
        <hr>
      <% end %>
    <% end %>
  <% else %>
    <p class="lead text-center">No books offered yet!</p>
  <% end %>
</div>
