<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <form class="book">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="" class="form-control">
      </div>
    </form>

  </div>
</div>

<script type="text/javascript">
  window.bookPredictor.init('#title');
</script>
