<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <form id="book-search" class="book">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="" class="form-control">
      </div>
      <input type="submit" style="visibility: hidden;" />
    </form>

    <div id="search-results" class="search-results">

    </div>
  </div>
</div>

<script type="text/javascript">
  window.bookPredictor.init('#title');
</script>
