<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card card--book">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag @book.cover.url(:medium), class: "img-responsive center-block" %>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h1><%= @book.title.titleize %></h1>
          <p class="lead">
            <%= @book.author %>
          </p>
          <p>
            <%= pluralize(@book.ownerships.count, "user") %> offer this book.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
