<% @transfer_requests.each do |request| %>
  <div class="row">
    <div class="card col-md-6 col-md-offset-3">
      <%= link_to request.user.username, user_path(request.user) %>
      requested you to transfer
      <%= link_to request.ownership.book.title, book_path(request.ownership.book) %>

      <%= form_tag "/transfers/#{request.id}/accept", method: "put" do %>
        <%= submit_tag "Accept" , class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
