<div id="new-offering" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New offering</h4>
      </div>
      <div class="modal-body">
        <form id="new-offer">
          <div class="form-group">
            <label for="to-give-awai">To give away</label>
            <input type="checkbox" name="to-give-away" value="true">
          </div>
          <div class="form-group">
            <label for="to-exchange">To exchange</label>
            <input type="checkbox" name="to-exchange" value="true">
          </div>
        </form>
      </div>
    </div>
<!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
