<div class="card">
  <div class="card--item row">
    {{#each books}}
      <div class="row">
        <div class="col-xs-8">
          <h3>{{title}}</h3>
          <p>
            by {{author}}
          </p>
        </div>
        <div class="col-xs-4">
          <a data-id="{{id}}" type="button" name="button" class="btn btn-primary select">Select</a>
        </div>
      </div>
    {{else}}
      <p class="lead text-center">We don't have that book, do you want to add it?</p>
      <button type="button" name="new-book" id="new-book" class="btn btn-primary">Add new book</button>
    {{/each}}
  </div>
</div>
