<div class="card card--books">
  <div class="card--books--item row">
    {{#each books}}
      <div class="col-xs-8">
        <h3>{{title}}</h3>
        <p>
          {{author}}
        </p>
      </div>
      <div class="col-xs-4">
        <a type="button" name="button" class="btn btn-primary">Select</a>
      </div>
    {{/each}}
  </div>
</div>
